/* -------------------------------------------------------------------------- */
/*                             ANIDAMIENTO                             */
/* -------------------------------------------------------------------------- */
/* -------------------------------- VARIABLES ------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* ---------------------------------- RESET --------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0%;
  margin: 0%;
  color: black;
  font-family: "Roboto", sans-serif; }

/* ---------------------------- ESTILOS GENERALES --------------------------- */
.fontW {
  color: white; }

body {
  background: #091b67;
  background: linear-gradient(0deg, rgba(9, 27, 103, 0.927906) 0%, #74148a 46%, rgba(48, 1, 31, 0.925105) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

main {
  min-height: calc(100vh - 3px - 1px); }

/* -------------------------------- VARIABLES ------------------------------- */
/* --------------------------------- HEADER --------------------------------- */
.custom-toggler.navbar-toggler {
  border-color: lightgreen; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navegacion a {
  color: white; }
  .navegacion a:hover {
    opacity: 80%;
    cursor: pointer;
    color: #bc5587; }

.navbar-nav .nav-link.active {
  color: #bf1869; }

/* --------------------------------- FOOTER --------------------------------- */
footer p {
  text-align: center; }

footer small {
  display: flex;
  justify-content: center;
  font-size: calc(0.7em + 0.5vw); }

/* ---------------------------------- INDEX ---------------------------------- */
/* --- MAP-GET --- */
.inicioDiv {
  display: flex;
  justify-content: center; }
  .inicioDiv img {
    border-radius: 50rem;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    margin-top: 75px; }
    .inicioDiv img h1 {
      font-size: calc(1em + 1vw);
      line-height: 1em;
      margin: 1em; }

.typed-cursor {
  color: white; }

.arrowDown {
  margin-top: 85px;
  color: white;
  font-size: calc(5em + 2vw);
  animation: pulse;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s;
  /* don't forget to set a duration! */
  animation-iteration-count: infinite; }

/* -------------------------------- VARIABLES ------------------------------- */
/* ---------------- ANIMACION DE LINK CON FLECHA A LA DERECHA --------------- */
.arrowRight {
  color: white;
  margin-bottom: -5px; }

.textoAnimado {
  color: white;
  animation: pulse;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s;
  /* don't forget to set a duration! */
  animation-iteration-count: infinite; }

.links {
  text-decoration: none; }

/* -------------------------------- ABOUT ME -------------------------------- */
.contenido-aboutMe {
  margin-top: 75px; }
  .contenido-aboutMe p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: calc(0.8em + 0.5vw);
    text-align: justify; }

.subtittle {
  font-size: calc(1em + 0.5vw);
  line-height: 1em; }

.sobreMi-margenInferior {
  margin-bottom: 40px;
  font-size: calc(1em + 1vw);
  line-height: 1em; }

.aboutMeT {
  color: white;
  animation: pulse 1s linear infinite;
  width: 100px;
  margin-left: 200px;
  margin-top: 135px;
  font-size: calc(0.8em + 0.5vw); }

/* -------------------------------- VARIABLES ------------------------------- */
/* ---------------- ANIMACION DE LINK CON FLECHA A LA DERECHA --------------- */
.arrowRight {
  color: white;
  margin-bottom: -5px; }

.textoAnimado {
  color: white;
  animation: pulse;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s;
  /* don't forget to set a duration! */
  animation-iteration-count: infinite; }

.links {
  text-decoration: none; }

/* --------------------------------- SKILLS --------------------------------- */
.contenido-skills {
  margin-top: 75px; }

.skills-items p {
  font-family: "Roboto", sans-serif;
  color: white;
  padding-top: 10px;
  font-size: calc(0.4em + 1vw); }

ion-icon {
  color: lawngreen;
  font-size: calc(0.8em + 1vw);
  line-height: 1em; }

.skills-h1 {
  margin-bottom: 40px;
  font-size: calc(1em + 1vw);
  line-height: 1em; }

.bi bi-check2 check {
  color: lawngreen;
  font-size: larger;
  tab-size: 8; }

.tecnologies-items {
  margin-bottom: 80px; }
  .tecnologies-items a {
    margin-right: 20px;
    text-decoration: none; }

.separation {
  margin-bottom: 10px; }

.skillsT {
  color: white;
  animation: pulse;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s;
  /* don't forget to set a duration! */
  animation-iteration-count: infinite;
  margin-top: 35px;
  font-size: calc(0.8em + 0.5vw); }

/* -------------------------------- VARIABLES ------------------------------- */
/* ---------------- ANIMACION DE LINK CON FLECHA A LA DERECHA --------------- */
.arrowRight {
  color: white;
  margin-bottom: -5px; }

.textoAnimado {
  color: white;
  animation: pulse;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s;
  /* don't forget to set a duration! */
  animation-iteration-count: infinite; }

.links {
  text-decoration: none; }

/* -------------------------------- PROJECTS -------------------------------- */
.contenido-project {
  margin-top: 75px; }
  .contenido-project h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: calc(1em + 1vw);
    line-height: 1em; }

/* --- USO DE EXTENDS --- */
.propiepadesImagenes, .projects-image-ies, .projects-image-sumen, .projects-image-autoshop {
  height: 150px;
  margin-top: 35px; }

.projects-image-ies {
  width: 200px;
  margin-top: 50px; }

.projects-image-sumen {
  width: 250px; }

.projects-image-autoshop {
  width: 150px; }

.projectsT {
  color: white;
  animation: pulse;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s;
  /* don't forget to set a duration! */
  animation-iteration-count: infinite;
  width: 200px;
  margin-left: 200px;
  margin-top: 135px;
  font-size: calc(0.8em + 0.5vw); }

/* -------------------------------- VARIABLES ------------------------------- */
/* -------------------------------- VARIABLES ------------------------------- */
/* -------------------------------- GET IN TOUCH -------------------------------- */
.contenido-contacto {
  margin-top: 75px;
  font-family: "Roboto", sans-serif; }
  .contenido-contacto h1 {
    font-size: calc(1em + 1vw);
    line-height: 1em; }

.formulario {
  margin-top: 40px; }

.boton {
  width: 35%;
  padding: 0.4rem 1rem;
  max-width: 0.5rem 0;
  border-radius: 0.3rem;
  background-color: #0c082e;
  margin-left: 0%;
  border-color: #a70fa9; }
  .boton:hover {
    opacity: 80%;
    cursor: pointer;
    background-color: #bf1869; }

.square {
  animation: shimmy 3s;
  animation-direction: alternate; }

@keyframes shimmy {
  0% {
    transform: translate(-50px, -50px); }
  100% {
    transform: translate(0px, 0px); } }

.colDatos {
  display: flex; }

.iconos {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .iconos svg {
    stroke: white;
    margin-right: 50px;
    margin-bottom: 50px; }

.infoContacto {
  display: flex;
  flex-direction: column; }

.blokeP {
  margin-bottom: 20px; }
  .blokeP p {
    color: white; }

.tBold {
  font-weight: bold; }

.form-control {
  width: 70%; }

/* --------------------------------- IMPORTS -------------------------------- */
/* -------------------------------- VARIABLES ------------------------------- */
/* ------------------------------ CONTENIDO 404 ----------------------------- */
.definicion {
  display: flex;
  justify-content: center;
  display: inline-block; }

body {
  max-width: 90%; }

.image {
  width: 350px;
  height: 350px;
  margin-top: 20%;
  margin-bottom: 35px; }

.boton404 {
  width: 15%;
  padding: 0.4rem 1rem;
  max-width: 0.5rem 0;
  border-radius: 0.3rem;
  background-color: #0c082e;
  margin-left: 43%;
  border-color: #a70fa9;
  text-decoration: none;
  color: white; }
  .boton404:hover {
    opacity: 80%;
    cursor: pointer;
    background-color: #bf1869; }

/* -------------------------------- VARIABLES ------------------------------- */
/* -------------------------------- VARIABLES ------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   TABLET                                   */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1002px) {
  /* ---------------------------------- INDEX --------------------------------- */
  .inicioDiv img {
    border-radius: 50rem;
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    margin-top: 75px; }
  /* -------------------------------- ABOUT ME -------------------------------- */
  .contenido-aboutMe svg {
    width: 20px;
    height: 20px; }
  .h1Education {
    margin-top: 0px; }
  .contenido-aboutMe p {
    text-align: left; }
  .aboutMeT {
    margin-top: 70px;
    margin-bottom: 20px;
    width: 100px;
    margin-left: 40px; }
  /* --------------------------------- SKILLS --------------------------------- */
  .tecnologies-items {
    margin-bottom: 30px; }
    .tecnologies-items a {
      margin-right: 20px;
      text-decoration: none; }
  .skillsT {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 200px;
    margin-left: 40px; }
  /* -------------------------------- PROJECTS -------------------------------- */
  .marginT {
    margin-top: 85px;
    font-size: calc(0.5em + 1.5vw); }
  .projectsT {
    margin-top: 70px;
    margin-bottom: 20px;
    width: 200px;
    margin-left: 40px; }
  /* -------------------------------- CONTACTO -------------------------------- */
  .boton {
    width: 300px;
    padding: 0.4rem 1rem;
    max-width: 0.5rem 0;
    border-radius: 0.3rem;
    background-color: #0c082e;
    margin-left: 0%;
    border-color: #a70fa9; }
    .boton:hover {
      opacity: 80%;
      cursor: pointer;
      background-color: #bf1869; }
  .form-control {
    width: 400px; }
  .square {
    animation: shimmy 3s;
    animation-direction: alternate;
    margin-right: 200px; }
  @keyframes shimmy {
    0% {
      transform: translate(-30px, -30px); }
    100% {
      transform: translate(0px, 0px); } }
  .formulario {
    display: flex;
    flex-direction: column; }
  .formu {
    margin-left: 200px;
    margin-bottom: 50px; }
  /* -------------------------------- ERROR 404 ------------------------------- */
  .image {
    width: 300px;
    height: 300px;
    margin-top: 20%;
    margin-bottom: 5%;
    padding: 10px; }
  .boton404 {
    width: 10%;
    padding: 0.4rem 1rem;
    max-width: 0.5rem 0;
    border-radius: 0.3rem;
    background-color: #0c082e;
    margin-left: 40%;
    border-color: #a70fa9;
    width: 150px; }
    .boton404:hover {
      opacity: 80%;
      cursor: pointer;
      background-color: #bf1869; } }

/* -------------------------------------------------------------------------- */
/*                                 FIN TABLET                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   MOBILE                                   */
/* -------------------------------------------------------------------------- */
@media only screen and (max-width: 767.98px) {
  /* ---------------------------------- INDEX --------------------------------- */
  .inicioDiv img {
    border-radius: 50rem;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-top: 75px; }
  /* -------------------------------- ABOOUT ME ------------------------------- */
  .contenido-aboutMe {
    margin-left: 40px; }
    .contenido-aboutMe svg {
      width: 15px;
      height: 15px; }
  .h1Education {
    margin-top: 35px; }
  .aboutMeT {
    margin-top: 70px;
    margin-bottom: 20px;
    width: 100px;
    margin-left: 10px; }
  /* --------------------------------- SKILLS --------------------------------- */
  .h1TecnologiesMovil {
    margin-top: 35px; }
  .contenido-skills {
    margin-top: 75px;
    margin-left: 40px; }
  .tecnologies-items {
    margin-bottom: 30px; }
  .skillsT {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 200px;
    margin-left: 10px; }
  /* --------------------------------- PROJECT -------------------------------- */
  .projects-image-ies {
    width: 200px;
    height: 150px;
    margin-top: 10px; }
  .projects-image-sumen {
    width: 190px;
    height: 150px;
    margin-top: 10px; }
  .projects-image-autoshop {
    width: 150px;
    height: 150px;
    margin-top: 20px; }
  .proyectos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
  .projectsT {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 150px;
    margin-left: 40px; }
  /* -------------------------------- CONTACTO -------------------------------- */
  .boton {
    width: 50%;
    padding: 0.4rem 1rem;
    max-width: 0.5rem 0;
    border-radius: 0.3rem;
    background-color: #0c082e;
    margin-left: 0%;
    border-color: #a70fa9; }
    .boton:hover {
      opacity: 80%;
      cursor: pointer;
      background-color: #bf1869; }
  .formulario {
    display: flex;
    flex-direction: column; }
  .form-control {
    width: 70%; }
  .formu {
    margin-left: 100px;
    margin-bottom: 50px; }
  /* -------------------------------- ERROR 404 ------------------------------- */
  .image {
    width: 200px;
    height: 200px;
    margin-top: 20%;
    margin-bottom: 5%;
    align-items: center;
    padding: 10px; }
  .boton404 {
    width: 25%;
    padding: 0.4rem 1rem;
    max-width: 0.5rem 0;
    border-radius: 0.3rem;
    background-color: #0c082e;
    margin-left: 40%;
    border-color: #a70fa9;
    width: 100px; }
    .boton404:hover {
      opacity: 80%;
      cursor: pointer;
      background-color: #bf1869; } }
