
/* ---------------------------------- INDEX ---------------------------------- */

.inicioDiv {
    display: flex;
    justify-content: center;
  
    img {
      border-radius: 50rem;
      width: 250px;
      height: 250px;
      margin-bottom: 20px;
      margin-top: 75px;
        h2 {
            font-size: calc(1em + 1vw);
            line-height: 1em;
            margin: 1em;
        }
    }
  }