@import '../utilities/variables';
@import '../utilities/mixins';


/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   TABLET                                   */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1002px) {

    /* ---------------------------------- INDEX --------------------------------- */
    .inicioDiv img {
      border-radius: 50rem;
      width: 180px;
      height: 180px;
      margin-bottom: 20px;
      margin-top: 75px;
    }
  
    /* -------------------------------- ABOUT ME -------------------------------- */
  
    .contenido-aboutMe svg {
      width: 20px;
      height: 20px;
    }

    .h1Education {
      margin-top: 0px;
    }

    .contenido-aboutMe {
      p {
        text-align: left;
      }
    }

    .aboutMeT{
      margin-top: 70px;
      margin-bottom: 20px;
      width: 100px;
      margin-left: 40px;
    }
  
    /* --------------------------------- SKILLS --------------------------------- */
  
    .tecnologies-items {
      margin-bottom: 30px;
  
      a {
        margin-right: 20px;
        text-decoration: none;
      }
    }

    .skillsT{
      margin-top: 30px;
      margin-bottom: 20px;
      width: 200px;
      margin-left: 40px;
    }

    /* -------------------------------- PROJECTS -------------------------------- */
    .marginT{
      margin-top: 85px;
      font-size: calc(0.5em + 1.5vw);
    }
  
    .projectsT{ 
      margin-top: 70px;
      margin-bottom: 20px;
      width: 200px;
      margin-left: 40px;
    }
  
    /* -------------------------------- CONTACTO -------------------------------- */
    .boton {
      @include botonStyle(300px, 0%);
    }

    .form-control{
      width: 400px;
     
    }

    .square {

      animation: shimmy 3s;
      animation-direction: alternate;
      margin-right: 200px;
    }
    @keyframes shimmy {
      0% {
        transform: translate(-30px, -30px);
      }
    
      100% {
        transform: translate(0px, 0px);
      }
    }

    .formulario{
      display: flex;
      flex-direction: column;
    }

    .formu{
      margin-left: 200px;
      margin-bottom: 50px;
    }

    /* -------------------------------- ERROR 404 ------------------------------- */
 
  .image {
    width:300px;
    height:300px;
    margin-top: 20%;
    margin-bottom: 5%;
    padding: 10px;
    
}
 
  .boton404 {
    @include botonStyle(10%, 40%);
    width: 150px;
   }
  }
  
  /* -------------------------------------------------------------------------- */
  /*                                 FIN TABLET                                 */
  /* -------------------------------------------------------------------------- */
  
  /* -------------------------------------------------------------------------- */
  /*                                   MOBILE                                   */
  /* -------------------------------------------------------------------------- */
  
  @media only screen and (max-width: 767.98px) {
  
    /* ---------------------------------- INDEX --------------------------------- */
    .inicioDiv img {
      border-radius: 50rem;
      width: 150px;
      height: 150px;
      margin-bottom: 20px;
      margin-top: 75px;
    }
  
  
    /* -------------------------------- ABOOUT ME ------------------------------- */
  
    .contenido-aboutMe {
      margin-left: 40px;
  
      svg {
        width: 15px;
        height: 15px;
      }
    }

    .h1Education {
      margin-top: 35px;
    }
  
    .aboutMeT{
      margin-top: 70px;
      margin-bottom: 20px;
      width: 100px;
      margin-left: 10px;
    }
  
    /* --------------------------------- SKILLS --------------------------------- */
  
    .h1TecnologiesMovil {
      margin-top: 35px;
    }
  
    .contenido-skills {
      margin-top: $marginTop;
      margin-left: 40px;
    }

    .tecnologies-items {
      margin-bottom: 30px;
    }

    .skillsT{ 
      margin-top: 30px;
      margin-bottom: 20px;
      width: 200px;
      margin-left: 10px;
    }
    
  /* --------------------------------- PROJECT -------------------------------- */

  .projects-image-ies{
    
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

.projects-image-sumen{
    width: 190px;
    height: 150px;
    margin-top: 10px;
}

.projects-image-autoshop{
  
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.proyectos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.projectsT{ 
  margin-top: 50px;
  margin-bottom: 20px;
  width: 150px;
  margin-left: 40px;
}

  
  /* -------------------------------- CONTACTO -------------------------------- */
    .boton {
      @include botonStyle(50%, 0%);
    }

  .formulario{
    display: flex;
    flex-direction: column;
  }
  

  .form-control{
    width: 70%;
  }

  .formu{
    margin-left: 100px;
    margin-bottom: 50px;
  }

  /* -------------------------------- ERROR 404 ------------------------------- */
 
  .image {
    width:200px;
    height:200px;
    margin-top: 20%;
    margin-bottom: 5%;
    align-items: center;
    padding: 10px;
}
 
  .boton404 {
    @include botonStyle(25%, 40%);
    width: 100px;
   }
  }