
/* -------------------------------- VARIABLES ------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$fontColor: white;
$marginTop: 75px;
$marginBottom: 40px;
$fontFamily: "Roboto", sans-serif;

