@import '../utilities/variables';
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* ---------------------------------- RESET --------------------------------- */
* {
    padding: 0%;
    margin: 0%;
    color: black;
    font-family: $fontFamily;
  }
  
  /* ---------------------------- ESTILOS GENERALES --------------------------- */
  .fontW {
    color: $fontColor;
  }
  
  body {
    background: rgb(9, 27, 103);
    background: linear-gradient(0deg,
        rgba(9, 27, 103, 0.9279061966583508) 0%,
        rgba(116, 20, 138, 1) 46%,
        rgba(48, 1, 31, 0.9251050762101716) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    min-height: calc(100vh - 3px - 1px);
  }