@import '../utilities/variables';
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* ---------------------------------- RESET --------------------------------- */
* {
    padding: 0%;
    margin: 0%;
    color: black;
    font-family: $fontFamily;
  }
  
  /* ---------------------------- ESTILOS GENERALES --------------------------- */
  .fontW {
    color: $fontColor;
  }
 
  body {
    height: 40vh;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 100px;
    color: #fff;
    background: url(../media/bg-pattern.png), #7b4397;
    background: url(../media/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
    background: url(../media/bg-pattern.png), linear-gradient(to left, #7b4397, #dc2430);
   
    
  }
  main {
    min-height: calc(100vh - 3px - 1px);
  }