/* --------------------------------- FOOTER --------------------------------- */

footer p {
    text-align: center;
  }
  
  footer small {
    display: flex;
    justify-content: center;
    font-size: calc(0.7em + 0.5vw);
  }
  