@import '../utilities/variables';
@import '../utilities/extends';


/* -------------------------------- ABOUT ME -------------------------------- */

.contenido-aboutMe {
    margin-top: $marginTop;
  
    p {
      font-family: $fontFamily;
      color: white;
      font-size: calc(0.8em + 0.5vw);
      text-align: justify;
    }
  }

  
  .subtittle {
    font-size: calc(1em + 0.5vw);
    line-height: 1em;
  }
  
  
  .sobreMi-margenInferior {
    margin-bottom: $marginBottom;
    font-size: calc(1em + 1vw);
    line-height: 1em;
  }

  .aboutMeT{
    color: white;
    animation: pulse 1s linear infinite;
    width: 100px;
    margin-left: 200px;
    margin-top: 135px;
    font-size: calc(0.8em + 0.5vw);
   
  }