@import '../utilities/variables';


/* -------------------------------- ABOUT ME -------------------------------- */

.contenido-aboutMe {
    margin-top: $marginTop;
  
    p {
      font-family: $fontFamily;
      color: white;
      font-size: calc(0.8em + 0.5vw);
    }
  }
  
  .subtittle {
    font-size: calc(1em + 0.5vw);
    line-height: 1em;
  }
  
  
  
  .sobreMi-margenInferior {
    margin-bottom: $marginBottom;
    font-size: calc(1em + 1vw);
    line-height: 1em;
  }

  .arrowLeft {
    margin-top: 85px;
    color: white;
    font-size: calc(1em + 2vw);
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s; /* don't forget to set a duration! */
    animation-iteration-count: infinite;
   }