
/* ---------------------------------- INDEX ---------------------------------- */

/* --- MAP-GET --- */
$mapaImagen: (
  radioImagen: 50rem,
  ancho: 250px,
  alto: 250px
);
  


.inicioDiv {
    display: flex;
    justify-content: center;
  
    img {
      border-radius: map-get($mapaImagen, radioImagen );
      width: map-get($mapaImagen, ancho );
      height: map-get($mapaImagen, alto );
      margin-bottom: 20px;
      margin-top: 75px;
        h2 {
            font-size: calc(1em + 1vw);
            line-height: 1em;
            margin: 1em;
        }
    }
  }

  .typed-cursor {
    color: white;
  }