/* -------------------------------------------------------------------------- */
/*                                   IMPORTS                                  */
/* -------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* ---------------------------------- RESET --------------------------------- */
* {
  padding: 0%;
  margin: 0%;
  color: black;
  font-family: "Roboto", sans-serif;
}

/* ---------------------------- ESTILOS GENERALES --------------------------- */
.fontW {
  color: white;
}

body {
  background: rgb(9, 27, 103);
  background: linear-gradient(
    0deg,
    rgba(9, 27, 103, 0.9279061966583508) 0%,
    rgba(116, 20, 138, 1) 46%,
    rgba(48, 1, 31, 0.9251050762101716) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 3px - 1px);
}

/* --------------------------------- HEADER --------------------------------- */
.custom-toggler.navbar-toggler {
  border-color: lightgreen;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navegacion a {
  color: white;
}

/* ---------------------------------- MAIN ---------------------------------- */

.inicioDiv {
  display: flex;
  justify-content: center;
}

.inicioDiv img {
  border-radius: 50rem;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 75px;
}

/* -------------------------------- SOBRE MI -------------------------------- */

.contenido-aboutMe {
  margin-top: 75px;
}

.sobreMi-margenInferior {
  margin-bottom: 40px;
}

/* --------------------------------- SKILLS --------------------------------- */

.skills-items p {
  color: white;
  padding-top: 10px;
}

.skills-h2 {
  margin-bottom: 40px;
}

.contenido-skills {
  margin-top: 75px;
}

.tecnologies-items {
  margin-bottom: 40px;
}

.tecnologies-items a {
  margin-right: 20px;
  text-decoration: none;
}

/* -------------------------------- PROJECTS -------------------------------- */

.contenido-project {
  margin-top: 75px;
}

.contenido-project h2 {
  text-align: center;
  margin-bottom: 40px;
}

/* -------------------------------- CONTACTO -------------------------------- */

.contenido-contacto {
  margin-top: 75px;
}

.formulario {
  margin-top: 40px;
}

.boton {
  width: 200px;
  padding: 0.4rem 1rem;
  max-width: 0.5rem 0;
  border-radius: 0.3rem;
  background-color: rgb(12, 8, 46);
  margin-left: 8rem;
  border-color: rgb(167, 15, 169);
}

.boton:hover {
  opacity: 80%;
  cursor: pointer;
  background-color: rgb(191, 24, 105);
}

/* --------------------------------- FOOTER --------------------------------- */

footer p {
  text-align: center;
}

footer small {
  display: flex;
  justify-content: center;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   TABLET                                   */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1002px) {
  /* ---------------------------------- INDEX --------------------------------- */
  .inicioDiv img {
    border-radius: 50rem;
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
    margin-top: 75px;
  }

  /* -------------------------------- CONTACTO -------------------------------- */
  .boton {
    width: 170px;
    padding: 0.4rem 1rem;
    max-width: 0.5rem 0;
    border-radius: 0.3rem;
    background-color: rgb(12, 8, 46);
    margin-left: 2rem;
    border-color: rgb(167, 15, 169);
  }
}

/* -------------------------------------------------------------------------- */
/*                                 FIN TABLET                                 */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   MOBILE                                   */
/* -------------------------------------------------------------------------- */

@media only screen and (max-width: 767.98px) {
  /* ---------------------------------- INDEX --------------------------------- */
  .inicioDiv img {
    border-radius: 50rem;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-top: 75px;
  }

  /* --------------------------------- SKILLS --------------------------------- */

  .divtecnologies {
    margin-top: 35px;
  }

  /* -------------------------------- CONTACTO -------------------------------- */
  .boton {
    width: 150px;
    padding: 0.4rem 1rem;
    max-width: 0.5rem 0;
    border-radius: 0.3rem;
    background-color: rgb(12, 8, 46);
    margin-left: 3rem;
    border-color: rgb(167, 15, 169);
  }
}
